doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="theme-color" content="#ff9800")
		meta(name="theme-color" content="#000000")
		meta(name="msapplication-navbutton-color" content="#000000")
		meta(name="msapplication-navbutton-color" content="#ff9800")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-touch-fullscreen" content="yes")
		meta(name="format-detection" content="telephone=no")
		title Московская весна a cappella
		link(rel="stylesheet" href="static/css/main.css")
	body
		header
			.zero-block
				.zero-block__container
					.zero-block__photo-block
						a(href="index.html")
							img(src="static/img/micro-main.svg", alt="")
					.zero-block__heading
						span.zero-m Московская
						span.zero-v Весна
						span.zero-c A Cappella