.step-eight {
	background-color: #97c959;
	background-repeat: no-repeat;
	background-image: url("../img/melody-2.png");
	background-size: 88% auto;
	background-position: bottom center;
	padding-bottom: 10vw;
	&__heading h2 {
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		padding-top: 6.944444vw;
		padding-bottom: 7.5vw;
	}
}