.step-fourteen {
	background-color: #97c959;
	&__cover-title {
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		margin-top: 0.462963vw;
	}
	.step-three__cover-name {
		margin-bottom: 0.462963vw;
	}
}