.step-twelve {
	background-color: #97c959;
	background-repeat: no-repeat;
	background-image: url("../img/melody-2.png");
	background-size: 88% auto;
	background-position: bottom center;
	padding-bottom: 10vw;
	&__cover-title {
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		margin-top: 0.462963vw;
	}
	.step-three__cover-name {
		margin-bottom: 0.462963vw;
	}
}